/** light theme **/

$light-background-color: #{{ light.base00 }}; 

$light-font-color: #{{ light.base05 }}; 
$light-font-secondary-color: #{{ light.base06 }}; 

$light-navbar-active-color: #{{ light.base06 }}; 

$light-global-link-color: #{{ light.base06 }}; 
$light-global-link-hover-color: #{{ light.base08 }}; 

$light-post-link-color: #{{ light.base07 }}; 
$light-post-link-hover-color: #{{ light.base0A }}; 

$light-pagination-link-color : #{{ light.base06 }}; 
$light-pagination-link-active-color: #{{ light.base09 }}; 

$light-border-color: #{{ light.base04 }}; 


/** dark theme **/

$dark-background-color: #{{ dark.base00 }}; 

$dark-font-color: #{{ dark.base05 }}; 
$dark-font-secondary-color: #{{ dark.base06 }}; 

$dark-navbar-active-color: #{{ dark.base06 }}; 

$dark-global-link-color: #{{ dark.base06 }}; 
$dark-global-link-hover-color: #{{ dark.base08 }}; 

$dark-post-link-color: #{{ dark.base07 }}; 
$dark-post-link-hover-color: #{{ dark.base0A }}; 

$dark-pagination-link-color : #{{ dark.base06 }}; 
$dark-pagination-link-active-color: #{{ dark.base09 }}; 

$dark-border-color: #{{ dark.base04 }}; 
