:root {
	--bg-color: #{{ base16.base00 }};
	--pagination-bg-color: #{{ base16.base00 }};
	--hr-color: #{{ base16.base02 }};
	--font-color: #{{ base16.base06 }};
	--link-color: #{{ base16.base09 }};
	--header-link-color: #{{ base16.base0A }};
	--link-state-color: #{{ base16.base09 }};
}

a:hover {
	text-decoration: underline;
	border: none;
}

header a {
	color: var(--header-link-color);	
}
