/** light theme **/

$light-background-color: #1b1918; 

$light-font-color: #a8a19f; 
$light-font-secondary-color: #e6e2e0; 

$light-navbar-active-color: #e6e2e0; 

$light-global-link-color: #e6e2e0; 
$light-global-link-hover-color: #f22c40; 

$light-post-link-color: #f1efee; 
$light-post-link-hover-color: #c38418; 

$light-pagination-link-color : #e6e2e0; 
$light-pagination-link-active-color: #df5320; 

$light-border-color: #9c9491; 


/** dark theme **/

$dark-background-color: #f1efee; 

$dark-font-color: #68615e; 
$dark-font-secondary-color: #2c2421; 

$dark-navbar-active-color: #2c2421; 

$dark-global-link-color: #2c2421; 
$dark-global-link-hover-color: #f22c40; 

$dark-post-link-color: #1b1918; 
$dark-post-link-hover-color: #c38418; 

$dark-pagination-link-color : #2c2421; 
$dark-pagination-link-active-color: #df5320; 

$dark-border-color: #766e6b; 
