:root {
	--bg-color: #202746;
	--pagination-bg-color: #202746;
	--hr-color: #5e6687;
	--font-color: #dfe2f1;
	--link-color: #c76b29;
	--header-link-color: #c08b30;
	--link-state-color: #c76b29;
}

a:hover {
	text-decoration: underline;
	border: none;
}

header a {
	color: var(--header-link-color);	
}
